version: "3.9"

services:
  api:
    build: ..
    container_name: ubereats-api
    ports:
      - "3000:3000"
    env_file:
      - ../.env
    depends_on:
      - postgres
      - redis

  postgres:
    image: postgres:15
    container_name: ubereats-postgres
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: ubereats
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: ubereats-redis
    ports:
      - "6379:6379"

volumes:
  postgres_data:
